In [1]:
import easydict

import starapi.analysis
import starapi.conf

In [2]:
starapi.conf.configure('./')

In [8]:
params = easydict.EasyDict(
    analysis_name = "DOID_824",
    case_query = "periodontitis == 'periodontitis'",
    control_query = "periodontitis_control == 'periodontitis_control'",
    modifier_query = '',
    min_samples = 3
)

In [10]:
sample_df, fold_df, balanced_perm_df, perm_df = starapi.analysis.perform_analysis(params)

INFO:starapi.analysis:Started DOID_824 analysis
DEBUG:starapi.analysis:155.32 ms in get_analysis_df("periodontitis == 'per..., "periodontitis_control..., '')
DEBUG:starapi.analysis:156.33 ms in Loading dataframe for DOID_824
INFO:starapi.analysis:Matching sources: 3
INFO:starapi.analysis:Excluded 1 source by min samples
INFO:starapi.analysis:Stats: 2 sources, 2 series, 2 platforms, 33 samples
INFO:starapi.analysis:Loading data and calculating fold change for DOID_824
DEBUG:starapi.analysis:Loading data for GSE27993, id = 4587
DEBUG:starapi.analysis:935.55 ms in get_probes(283)
DEBUG:starapi.analysis:  1.89 s in load_gse( series_id platform_id..., 4587, False)
DEBUG:starapi.analysis:527.98 ms in get_gene_fold_change(<Gse GSE27993>, False, 0, None)
DEBUG:starapi.analysis:Loading data for GSE43525, id = 8303
DEBUG:starapi.analysis:  1.03 s in get_probes(674)
DEBUG:starapi.analysis:  3.39 s in load_gse( series_id platform_id..., 8303, False)
DEBUG:starapi.analysis:714.59 ms in get_gene_fold_change(<Gse GSE43525>, False, 0, None)
DEBUG:starapi.analysis:  6.61 s in Load/fold for DOID_824
INFO:starapi.analysis:Meta-Analyzing DOID_824
DEBUG:starapi.analysis: 43.17 s in meta analysis of real data for DOID_824
DEBUG:starapi.analysis: 37.10 ms in meta analysis of permutations for DOID_824
DEBUG:starapi.analysis: 17.17 mks in get_balanced_permutations( C H H_lower H_upper I..., Empty DataFrame Column...)
DEBUG:starapi.analysis: 43.30 s in Meta analysis for DOID_824
INFO:starapi.analysis:DONE DOID_824 analysis
DEBUG:starapi.analysis: 50.10 s in perform_analysis({'analysis_name': 'DOI...)

In [11]:
sample_df.head()

,series_id,platform_id,sample_id,gsm_name,gpl_name,gse_name,periodontitis,periodontitis_control,sample_class
0,4587,283,188755,GSM692587,GPL6244,GSE27993,,periodontitis_control,0
1,4587,283,188756,GSM692588,GPL6244,GSE27993,,periodontitis_control,0
2,4587,283,188757,GSM692589,GPL6244,GSE27993,,periodontitis_control,0
3,4587,283,188758,GSM692590,GPL6244,GSE27993,,periodontitis_control,0
4,4587,283,188759,GSM692591,GPL6244,GSE27993,,periodontitis_control,0

In [12]:
fold_df.head()

,index,probe,dataMu,dataSigma,dataCount,caseDataMu,caseDataSigma,caseDataCount,controlDataMu,controlDataSigma,...,log2foldChange,effect_size,ttest,p,direction,mygene_entrez,mygene_sym,subset,gpl,gse
perm,,,,,,,,,,,,,,,,,,,,,
0,0,7933640,2.771141,0.080142,10,2.789527,0.079877,5,2.752754,0.085004,...,0.036773,0.458851,0.704940,0.500853,up,29974,A1CF,NA,GPL6244,GSE27993
0,13395,ILMN_1801632,2.479362,0.097625,23,2.465509,0.095596,16,2.511027,0.102067,...,-0.045518,-0.466256,-1.030330,0.314576,down,3852,KRT5,NA,GPL10558,GSE43525
0,13396,ILMN_2219002,2.992338,0.261217,23,3.007627,0.283030,16,2.957394,0.218813,...,0.050233,0.192302,0.416305,0.681411,up,3853,KRT6A,NA,GPL10558,GSE43525
0,13397,ILMN_1669820,2.574447,0.089011,23,2.571948,0.098911,16,2.580159,0.067365,...,-0.008211,-0.092249,-0.199075,0.844119,down,3854,KRT6B,NA,GPL10558,GSE43525
0,13398,ILMN_1721354,2.632256,0.129734,23,2.637973,0.152667,16,2.619189,0.056201,...,0.018784,0.144792,0.312894,0.757447,up,3854,KRT6B,NA,GPL10558,GSE43525

In [13]:
balanced_perm_df.head()

,,C,H,H_lower,H_upper,I2,I2_lower,I2_upper,Q,Q_df,caseDataCount,...,predict_zscore,random_TE,random_lower,random_pval,random_se,random_upper,random_zscore,tau2,tau2_se,direction
mygene_sym,mygene_entrez,,,,,,,,,,,,,,,,,,,,,
A1CF,29974,351.096271,NaN,NaN,NaN,NaN,NaN,NaN,0.003907,1,21,...,None,0.034520,-0.039371,0.359854,0.037700,0.108410,0.915644,0.000000,None,up
A2M,2,725.221054,NaN,NaN,NaN,NaN,NaN,NaN,8.597329,1,21,...,None,-0.045920,-0.196569,0.550220,0.076863,0.104728,-0.597431,0.010476,None,down
A2ML1,144568,396.255187,NaN,NaN,NaN,NaN,NaN,NaN,0.003437,1,21,...,None,0.091575,0.022244,0.009631,0.035374,0.160906,2.588806,0.000000,None,up
A4GALT,53947,1157.895558,NaN,NaN,NaN,NaN,NaN,NaN,0.266993,1,21,...,None,0.001400,-0.033196,0.936783,0.017651,0.035996,0.079314,0.000000,None,up
A4GNT,51146,868.829781,NaN,NaN,NaN,NaN,NaN,NaN,0.118080,1,21,...,None,-0.012293,-0.056398,0.584885,0.022503,0.031813,-0.546263,0.000000,None,down

In [14]:
perm_df.head()

Empty DataFrame
Columns: []
Index: []